.musTabs:hover {
  background-color:#d14629;
  color:white;
}
.musTabsResources:hover {
  background-color:#d14629;
  color:white;
}
.musTabs{
  padding: 10px;
}

.musTabsResources{
  padding: 10px;
  border:1px solid #d6cccc;
  padding:8px;
  cursor:pointer;
  border-radius: 3px;
  font-weight: bold;
}


.tabBgColor {
  background-color: #d14629;
  
}
.textcolor{
 color:white;
 border-color: #d14629; 
}

.addDetailForm{
  background-color: #f3f3f3 !important;
    padding: 30px;
    margin-top: 40px;
    -webkit-box-shadow: -1px 6px 43px -6px rgba(189,189,189,1);
    -moz-box-shadow: -1px 6px 43px -6px rgba(189,189,189,1);
}
.formPage{
  background-color: #fcf5f5;

}