<!-- main app container -->
<app-header></app-header>
<!-- <div class="container-fluid" style=" margin-top: 40px; margin-bottom: 20px;"> -->
        <div class="row" style="padding-top:20px">
                <div class="col-md-4"></div>
              <div class="col-md-4" >
               
                        <alert></alert>

                </div>
                <div class="col-md-4"></div>

              </div>
              <router-outlet></router-outlet>
    
<!-- </div> -->
<!-- credits -->
<div class="text-center">
    <footer style="border: 1px solid #d8dee4;">
        <div class="panel panel-default text-center" style="height:22px;background-color: #fcf5f5;">
            <p>© 2019 - Morrison</p>
        </div>
    </footer>
</div>