<div class="container-fluid formPage">
    <div class="row" style="padding:6px;">
        <div class="col-md-3" style="">
        </div>
        <div class="col-md-6 addDetailForm" style="" *ngIf="formDetailsCalled">
            <div class="row">
                <div class="col-md-8">
                    <h4>{{hostedAppObj.Title}}</h4>
                </div>
                <div class="col-md-4">
                    <button *ngIf="isadminFlag" style="margin:4px;background-color:#d14629 !important;
                            color:white;border-color:#d14629"
                        (click)="editViewCalled()">{{formDetailsCalled?'Edit':'Back'}}</button>
                    <button [ngClass]="{'floatRight': isadminFlag == false}" style="margin:4px;background-color:#d14629 !important;
                            color:white;border-color:#d14629" routerLink="dashboard">Back</button>
                </div>
            </div>
            <hr>
            <img style="width: 85px;" class="media-object" src="{{hostedAppObj.Icon}}" alt="...">
            <p style="padding:5px">Version: {{hostedAppObj.Version}} / {{hostedAppObj.Download}} Downloads</p>            
            <p style="padding-left:5px">Rating:<b>{{hostedAppObj.Rating}}</b>/5</p>
            <!-- <ngb-rating [(rate)]="currentRate"></ngb-rating> -->
            <hr>
            <h5>Install For:</h5>
            <span *ngIf="hostedAppObj.AndriodSmartPhoneBuild" style="padding:5px;">
            <button style="background-color:#d14629 !important;
            color:white;" type="button" class="btn btn-default" (click)="onNavigate(hostedAppObj.AndriodSmartPhoneBuild)">Smartphone</button>
            </span>
            <span *ngIf="hostedAppObj.AndriodTabletBuild" style="padding:5px;"><button style="background-color:#d14629 !important;
            color:white;" type="button" class="btn btn-default">Tablet</button></span>
            <span *ngIf="hostedAppObj.IphoneBuild" style="padding:5px;"><button style="background-color:#d14629 !important;
            color:white;" type="button" class="btn btn-default">iphone</button></span>
            <span *ngIf="hostedAppObj.IpadBuild" style="padding:5px;"><button style="background-color:#d14629 !important;
            color:white;" type="button" class="btn btn-default">ipad</button></span>
            <hr>
            <h5>Description:</h5>
            <p>{{hostedAppObj.Description}}</p>
            <hr>
            <h5>Iphone Package Name:</h5>
            <p>{{hostedAppObj.IphonePackageName}}</p>
            <hr>
            <h5>Ipad Package Name:</h5>
            <p>{{hostedAppObj.IpadPackageName}}</p>
            <hr>
            <h5>Screenshots:</h5>
            <div *ngIf="hostedAppObj.ScreenShots">
                <div class="row">
                    <div class="col-md-4" (click)='goToLink(ScreenShotsvalue)' style="padding:5px;cursor:pointer"
                        *ngFor="let ScreenShotsvalue of hostedAppObj.ScreenShots">
                        <img style="width: 100%;" class="media-object" src="{{ScreenShotsvalue}}" alt="...">

                    </div>
                </div>
            </div>
        </div>        
        <div class="col-md-6 addDetailForm" style="" *ngIf="editCalled">
            <div class="row">
                <div class="col-md-10">
                    <h4>Edit - {{hostedAppObj.Title}}</h4>

                </div>
                <div class="col-md-2">
                    <button style="background-color:#d14629 !important;
                                color:white;border-color:#d14629"
                        (click)="editViewCalled()">{{formDetailsCalled?'Edit':'Back'}}</button>

                </div>

            </div>
            
            <hr>
            <div class="form-group">
            

                <label for="CategoryId">App Category</label><br>
                <!-- (change)="getCategoryId(CategoryId)" -->
                <select [(ngModel)]="hostedAppObj.CategoryId" #CategoryId
                    style="border:1px solid #999999;width:50%;margin:5px 0;padding:3px;">
                    <option [ngValue]="category.Id" *ngFor="let category of categoryArr; let i = index">
                        {{category.Name}}</option>
                </select>
                <span><a routerLink="/category" style="width:50%;margin:5px 0;padding:10px;cursor:pointer"> Add New
                        Category</a></span>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" [(ngModel)]="hostedAppObj.Title" #Title class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea style="border:1px solid #999999;width:100%;margin:5px 0;padding:3px;" #Description cols="2"
                    rows="4" [(ngModel)]="hostedAppObj.Description"></textarea>
            </div>
            <div class="form-group">
                <label for="Version">Version</label>
                <input type="text" [(ngModel)]="hostedAppObj.Version" #Version class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="Icon">Upload App Icon</label><br>
                <input type="file" name="Icon" (change)="onIcon($event)" #Icon accept=".ico" />
                <p *ngIf="hostedAppObj.Icon">{{splitUrlString(hostedAppObj.Icon)}}</p>

            </div>
            <hr>
            <div class="form-group">
                <label for="AndriodSmartPhoneBuild">Upload Android Smartphone Build </label><br>
                <input type="file" name="AndriodSmartPhoneBuild" (change)="onAndriodSmartPhoneBuild($event)"
                    #AndriodSmartPhoneBuild accept=".apk" />
                <p *ngIf="hostedAppObj.AndriodSmartPhoneBuild">{{splitUrlString(hostedAppObj.AndriodSmartPhoneBuild)}}
                </p>
            </div>
            <hr>
            <div class="form-group">
                <label for="AndriodTabletBuild">Upload Android Tablet Build </label><br>
                <input type="file" name="AndriodTabletBuild" (change)="onAndriodTabletBuild($event)" #AndriodTabletBuild
                    accept=".apk" />
                <p *ngIf="hostedAppObj.AndriodTabletBuild">{{splitUrlString(hostedAppObj.AndriodTabletBuild)}}</p>

            </div>
            <hr>
            <div class="form-group">
                <label for="IphoneBuild">Upload Iphone Build </label><br>
                <input type="file" name="IphoneBuild" (change)="onIphoneBuild($event)" #IphoneBuild accept=".apk" />
                <p *ngIf="hostedAppObj.IphoneBuild">{{splitUrlString(hostedAppObj.IphoneBuild)}}</p>
            </div>
            <hr>
            <div class="form-group">
                <label for="IphonePackageName">IPhone Package Name</label>
                <input type="text" [(ngModel)]="hostedAppObj.IphonePackageName" #IphonePackageName class="form-control"
                    placeholder="">
            </div>

            <div class="form-group">
                <label for="IpadBuild">Upload Ipad Build </label><br>
                <input type="file" name="IpadBuild" (change)="onIpadBuild($event)" #IpadBuild accept=".apk" />
                <p *ngIf="hostedAppObj.IpadBuild">{{splitUrlString(hostedAppObj.IpadBuild)}}</p>
            </div>
            <hr>
            <div class="form-group">
                <label for="IpadPackageName">IPad Package Name</label>
                <input type="text" [(ngModel)]="hostedAppObj.IpadPackageName" #IpadPackageName class="form-control"
                    placeholder="">
            </div>
            <div class="form-group">
                <label for="ScreenShots">Upload App ScreenShot(s) </label><br>
                <input type="file" name="ScreenShots" (change)="onScreenShots($event)" #ScreenShots accept=".jpg,.png"
                    multiple />

                <div *ngIf="hostedAppObj.ScreenShots">
                    <div *ngFor="let ScreenShotsvalue of hostedAppObj.ScreenShots">
                        <p>{{splitUrlString(ScreenShotsvalue)}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="Documents">PDF,Word,PPT,IMG</label><br>
                <input type="file" name="Documents" (change)="onDocuments($event)" #Documents accept=".pdf,.doc"
                    multiple />
                <div *ngIf="hostedAppObj.Documents">
                    <div *ngFor="let Documentsvalue of hostedAppObj.Documents">
                        <p>{{splitUrlString(Documentsvalue)}}</p>
                    </div>
                </div>

            </div>
            <hr>
            <div class="form-group">
                <button (click)="onSubmit()" class="btn btn-success">Save</button>
                | <button (click)="backToHome()" class="btn btn-success">Back To List</button>
            </div>
            <!-- </form> -->
            <div class="alert alert-success" role="alert" *ngIf="showMessage">
                Form submitted successfully!
            </div>
        </div>
        <div class="col-md-3" style="">

        </div>


    </div>

</div>




<!-- <h1>File Upload</h1>
<div class="row">
<div class="col-md-6"> -->
<!-- <div *ngIf="fileUpload.status==='error'">
      <div [innerHTML]="fileUpload.message"></div>
  </div>
  <div *ngIf="fileUpload.status==='progress'">
      <div class="progress" style="height: 20px;margin-bottom:20px;">
        <div class="progress-bar" role="progressbar" [style.width.%]="fileUpload.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{fileUpload.message}}%</div>
      </div>
  </div> -->
<!-- <form [formGroup] = "profileForm" (ngSubmit)="onSubmit()"> -->
<!-- <div class="form-group">
      <input type="text"  class="form-control" placeholder="Name">
    </div> -->
<!-- <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div> -->

<!-- <div class="form-group">
        <label for="username">Username</label>

        <input type="text" formControlName="name" class="form-control" placeholder="">
      </div>
      <div class="form-group">
          <label for="username">Username</label>

          <input type="text" formControlName="name" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="username">Username</label>

            <input type="text" formControlName="name" class="form-control" placeholder="">
          </div>
          <div class="form-group">
              <label for="username">Username</label>

              <input type="text" formControlName="name" class="form-control" placeholder="">
            </div>

    <div class="form-group">
      <input type="file" name="profile" (change)="onSelectedFile($event)" />
    </div>
    <div class="form-group">
      <button  (click)="onSubmit()" class="btn btn-success">Upload</button>
    </div> -->
<!-- </form> -->
<!-- <div *ngIf="fileUpload.status==='success'">
    <img [src]="fileUpload.filePath" height="200px" />
  </div>
  <p>{{ error }}</p> -->
<!-- </div>
</div> -->