.musTabs:hover {
    background-color:lightgrey;
    color:white;
  }
  .musTabs{
    padding: 10px;
  }

  /* .example-stretched-tabs {
    max-width: 800px;
  } */

  .tabBgColor {
    /* background-color: lightgrey; */
    background-color: #d14629;
    /* border-color: #d14629; */
    
 }
 .textcolor{
   color:white;
   border-color: #d14629; 
 }